<p>
  Name: {{view Em.TextField valueBinding='name'}}
</p>

<p>
  Description: {{view Em.TextField valueBinding='description'}}
</p>

<p>
  Price: {{view Em.TextField valueBinding='price'}}
</p>
<button {{action 'createProduct'}}>Save</button>
